.home-page-body {
  margin: 0;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  /* margin-bottom: 40px; */
  margin: 50px 70px 40px 70px;
}

.product-card {
  width: 280px;
  height: 570px;
  background-color: whitesmoke;
  color: black;
  border-radius: 3px;
  text-align: center;
  padding-top: 10px;
  position: relative;
}

.product-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
}

.product-card img {
  width: 250px;
  height: 260px;
}

.product-card button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #D99C2B;
}

.product-info-container {
  padding: 0 10px;
  text-align: left;
}

.product-title {
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
}

.product-details {
  height: 55px;
  overflow: scroll;
}

.price-discount-label {
  background-color: red;
  color: white;
  display: inline-block;
  padding: 3px;
  text-align: left;
  margin: 0;
}

.discounted-price {
  margin-bottom: 0;
}

.price {
  margin-top: 0;
}

.intro-container {
  background-image: linear-gradient(
    to bottom,
    rgb(255 255 0 / 50%),
    rgb(0 0 255 / 50%)
  ),
    url("../../Images/products.jpg");
  height: 450px;
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
}

.intro-container h1 {
  margin-top: 0;
}


@media screen and (min-width: 971px) and
(max-width: 1293px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and (min-width: 768px) and
(max-width: 970px){
  .products-container {
    grid-template-columns: 1fr 1fr;
  }

  .intro-container {
    height: 300px;
  }
}

@media screen and
(max-width: 767px) {
  .products-container {
    grid-template-columns: 1fr;
    margin: 30px 50px 30px 50px;
  }

  .intro-container {
    height: 250px;
  }
}