.contact-form {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
  margin-bottom: 60px;
}

.contact-phrase {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
}

.contact-body {
  width: 40%;
}

.form-element {
  display: grid;
  /* justify-content: space-between; */
}

form input {
  height: 38px;
}

form label {
  font-size: 1.2em;
  padding-bottom: 10px;
}

form :placeholder-shown {
  padding-left: 15px;
  font-size: 1em;
}

form input, form textarea {
  width: 96%;
  border-radius: 8px;
  background-color: whitesmoke;
}

textarea {
  height: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.submit {
  border-radius: 5px;
  height: 45px;
  width: 400px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin-top: 30px;
}

.submit:hover {
  background-color: #D99C2B;
}
